---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ external.components.mysql.name }}
  name: {{ external.components.mysql.name }}
  namespace: {{ external.components.mysql.project }}
spec:
  type: ClusterIP
  ports:
  - port: {{ external.mysql.port }}
    targetPort: {{ external.mysql.port }}
    protocol: TCP
  selector:
    deployment: {{ external.components.mysql.name }}
