---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ external.components.mysql.name }}
  namespace: {{ external.components.mysql.project }}
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ external.components.mysql.storage.size }}
