---
apiVersion: v1
kind: Service
metadata:
  name: valkey-{{ item.name }}
  namespace: {{ item.project }}
spec:
  selector:
    app: valkey-{{ item.name }}
  ports:
    - protocol: TCP
      port: {{ external.redis.system.port }}
      targetPort: {{ external.redis.system.port }}
  type: ClusterIP
